{% extends 'base.html' %}

{% block isi %}
{% load static %}
    
    <section class="categories-section" id="karakter">
        <div class="container">
            <h2>41 SUPREME BEINGS</h2>
            <p>Note: Untuk saat ini hanya ada 31 Supreme Beings yang diketahui namanya dan hanya ada 16 karakter yang desain karakternya sudah dipublish (21/01/2024)</p>

            <div class="character-grid">
                <div class="character-grid">
                    <div class="character">
                        <img src="{% static 'Buku/Overlord/Karakter/Momonga.webp' %}" alt="Character 1 Image">
                        <br></br>
                        <h3>Momonga</h3>
                    </div>
        
                    <div class="character">
                        <img src="{% static 'Buku/Overlord/Karakter/Touch_Me.webp' %}" alt="Character 2 Image">
                        <h3>Touch Me</h3>
                    </div>
        
                    <div class="character">
                        <img src="{% static 'Buku/Overlord/Karakter/Nishikienrai.webp' %}" alt="Character 3 Image">
                        <h3>Nishikienrai</h3>
                    </div>
        
                    <div class="character">
                        <img src="{% static 'Buku/Overlord/Karakter/AOG.jpg' %}" alt="Character 4 Image">
                        <h3>Wish III</h3>
                    </div>
        
                    <div class="character">
                        <img src="{% static 'Buku/Overlord/Karakter/Warrior_Takemikazuchi.webp' %}" alt="Character 5 Image">
                        <h3>Warrior Takemikazuchi</h3>
                    </div>
        
                    <div class="character">
                        <img src="{% static 'Buku/Overlord/Karakter/AOG.jpg' %}" alt="Character 6 Image">
                        <h3>Ancient One</h3>
                    </div>
        
                    <div class="character">
                        <img src="{% static 'Buku/Overlord/Karakter/AOG.jpg' %}" alt="Character 7 Image">
                        <h3>Flatfoot</h3>
                    </div>
        
                    <div class="character">
                        <img src="{% static 'Buku/Overlord/Karakter/Amanomahitotsu.webp' %}" alt="Character 8 Image">
                        <h3>Amanomahitotsu</h3>
                    </div>
        
                    <div class="character">
                        <img src="{% static 'Buku/Overlord/Karakter/Peroroncino.webp' %}" alt="Character 9 Image">
                        <h3>Peroroncino</h3>
                    </div>
                    
                    <div class="character">
                        <img src="{% static 'Buku/Overlord/Karakter/Bukubukuchagama.webp' %}" alt="Character 10 Image">
                        <h3>Bukubukuchagama</h3>
                    </div>
                    
                    <div class="character">
                        <img src="{% static 'Buku/Overlord/Karakter/Herohero.webp' %}" alt="Character 11 Image">
                        <br></br>
                        <h3>Herohero</h3>
                    </div>
                    
                    <div class="character">
                        <img src="{% static 'Buku/Overlord/Karakter/AOG.jpg' %}" alt="Character 12 Image">
                        <h3>Blue Planet</h3>
                    </div>
                    
                    <div class="character">
                        <img src="{% static 'Buku/Overlord/Karakter/Ulbert_Alain_Odle.webp' %}" alt="Character 13 Image">
                        <h3>Ulbert Alain Odle</h3>
                    </div>
        
                    <div class="character">
                        <img src="{% static 'Buku/Overlord/Karakter/AOG.jpg' %}" alt="Character 14 Image">
                        <h3>Garnet</h3>
                    </div>
                    
                    <div class="character">
                        <img src="{% static 'Buku/Overlord/Karakter/Bellriver.webp' %}" alt="Character 15 Image">
                        <h3>Bellriver</h3>
                    </div>
                    
                    <div class="character">
                        <img src="{% static 'Buku/Overlord/Karakter/Variable_Talisman.webp' %}" alt="Character 16 Image">
                        <h3>Variable Talisman</h3>
                    </div>
                    
                    <div class="character">
                        <img src="{% static 'Buku/Overlord/Karakter/AOG.jpg' %}" alt="Character 17 Image">
                        <h3>Nearata</h3>
                    </div>
                    
                    <div class="character">
                        <img src="{% static 'Buku/Overlord/Karakter/AOG.jpg' %}" alt="Character 18 Image">
                        <h3>Nubo</h3>
                    </div>
        
                    <div class="character">
                        <img src="{% static 'Buku/Overlord/Karakter/AOG.jpg' %}" alt="Character 19 Image">
                        <h3>Genjiro</h3>
                    </div>
                    
                    <div class="character">
                        <img src="{% static 'Buku/Overlord/Karakter/Yamaiko.webp' %}" alt="Character 20 Image">
                        <h3>Yamaiko</h3>
                    </div>
                    
                    <div class="character">
                        <img src="{% static 'Buku/Overlord/Karakter/AOG.jpg' %}" alt="Character 21 Image">
                        <h3>Whitebrim</h3>
                    </div>
                    
                    <div class="character">
                        <img src="{% static 'Buku/Overlord/Karakter/Punitto_Moe.webp' %}" alt="Character 22 Image">
                        <br></br>
                        <h3>Punitto Moe</h3>
                    </div>
                    
                    <div class="character">
                        <img src="{% static 'Buku/Overlord/Karakter/Tabula_Smaragdina.webp' %}" alt="Character 23 Image">
                        <h3>Tabula Smaragdina</h3>
                    </div>
        
                    <div class="character">
                        <img src="{% static 'Buku/Overlord/Karakter/AOG.jpg' %}" alt="Character 24 Image">
                        <h3>Beast King Mekongawa</h3>
                    </div>
                    
                    <div class="character">
                        <img src="{% static 'Buku/Overlord/Karakter/AOG.jpg' %}" alt="Character 25 Image">
                        <h3>Tigris Euphrates</h3>
                    </div>
                    
                    <div class="character">
                        <img src="{% static 'Buku/Overlord/Karakter/AOG.jpg' %}" alt="Character 26 Image">
                        <h3>Temperance</h3>
                    </div>
                    
                    <div class="character">
                        <img src="{% static 'Buku/Overlord/Karakter/AOG.jpg' %}" alt="Character 27 Image">
                        <h3>Suratan</h3>
                    </div>
                    
                    <div class="character">
                        <img src="{% static 'Buku/Overlord/Karakter/AOG.jpg' %}" alt="Character 28 Image">
                        <h3>Ankoro Mocchi Mochi</h3>
                    </div>
        
                    <div class="character">
                        <img src="{% static 'Buku/Overlord/Karakter/Shizyuutensuzaku.webp' %}" alt="Character 29 Image">
                        <h3>Shizyuutensuzaku</h3>
                    </div>
                    
                    <div class="character">
                        <img src="{% static 'Buku/Overlord/Karakter/LuciFer.webp' %}" alt="Character 30 Image">
                        <h3>Luci★Fer</h3>
                    </div>
                    
                    <div class="character">
                        <img src="{% static 'Buku/Overlord/Karakter/AOG.jpg' %}" alt="Character 31 Image">
                        <h3>Coup De Grâce</h3>
                    </div>
        
                    <div class="character">
                        <img src="{% static 'Buku/Overlord/Karakter/AOG.jpg' %}" alt="Character 32 Image">
                        <h3>UNKNOWN</h3>
                    </div>
        
                    <div class="character">
                        <img src="{% static 'Buku/Overlord/Karakter/AOG.jpg' %}" alt="Character 33 Image">
                        <h3>UNKNOWN</h3>
                    </div>
        
                    <div class="character">
                        <img src="{% static 'Buku/Overlord/Karakter/AOG.jpg' %}" alt="Character 34 Image">
                        <h3>UNKNOWN</h3>
                    </div>
        
                    <div class="character">
                        <img src="{% static 'Buku/Overlord/Karakter/AOG.jpg' %}" alt="Character 35 Image">
                        <h3>UNKNOWN</h3>
                    </div>
        
                    <div class="character">
                        <img src="{% static 'Buku/Overlord/Karakter/AOG.jpg' %}" alt="Character 36 Image">
                        <h3>UNKNOWN</h3>
                    </div>
        
                    <div class="character">
                        <img src="{% static 'Buku/Overlord/Karakter/AOG.jpg' %}" alt="Character 37 Image">
                        <h3>UNKNOWN</h3>
                    </div>
        
                    <div class="character">
                        <img src="{% static 'Buku/Overlord/Karakter/AOG.jpg' %}" alt="Character 38 Image">
                        <h3>UNKNOWN</h3>
                    </div>
        
                    <div class="character">
                        <img src="{% static 'Buku/Overlord/Karakter/AOG.jpg' %}" alt="Character 39 Image">
                        <h3>UNKNOWN</h3>
                    </div>
        
                    <div class="character">
                        <img src="{% static 'Buku/Overlord/Karakter/AOG.jpg' %}" alt="Character 40 Image">
                        <h3>UNKNOWN</h3>
                    </div>
        
                    <div class="character">
                        <img src="{% static 'Buku/Overlord/Karakter/AOG.jpg' %}" alt="Character 41 Image">
                        <h3>UNKNOWN</h3>
                    </div>
            </div>
        </div>
    </section>

{% endblock %}