{% extends 'base.html' %}

{% block isi %}
{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}">

<section id="contact" class="contact-section">
    <h1 class="text-center mb-4"> KONTAK KAMI </h1>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6 mb-4 text-center">
                <img src="{% static 'Ulbert.png' %}" alt="Profile Picture" class="contact-profile-picture">
            </div>
        </div>
        <div class="row justify-content-center" style="margin-bottom: 150px;">
            <div class="col-lg-6 contact-details">
                <p><i class="bi bi-instagram"></i> <a href="https://www.instagram.com/kholidwirautama/" target="_blank" class="contact-link">Instagram</a></p>
                <p><i class="bi bi-facebook"></i> <a href="#" target="_blank" class="contact-link">Facebook</a></p>
                <p><i class="bi bi-whatsapp"></i> <a href="tel:+1234567890" class="contact-link">Whatsapp</a></p>
            </div>
        </div>
    </div>
</section>
{% endblock %}
