{% extends 'base.html' %}

{% block isi %}
    <section class="featured-books-section" id="daftar-ln">
        <div class="container">
            <h2>DAFTAR BUKU YANG TERSEDIA</h2>
            <p>Note: Sampai saat ini masih 16 Volume yang sudah rilis (21/01/2024)</p>
            <div class="book-grid">
                {% for barang in barangs %}
                <div class="book">
                    <img src="{{ barang.brg_gambar.url }}" alt="Cover {{ barang.brg_nama }}">
                    <h3>{{ barang.brg_nama }}</h3>
                    <p>Jenis: {{ barang.brg_jenis }}</p>
                    <p>Bahasa: {{ barang.brg_bahasa }}</p>
                    <p>Stok: {{ barang.brg_stok }} tersedia</p>
                    <p>Harga: Rp. {{ barang.brg_harga }}</p>
                    <a href="#" class="download-button" onclick="showDownloadDialog('{{ barang.brg_nama }}')">BELI</a>
                </div>
                {% endfor %}
            </div>
        </div>
    </section>
{% endblock %}
